html {position: relative; min-height: 100%;}
body {padding-top: 40px}
h1, h2, h3 {text-align: center}
h1 {font-size: 30px; font-weight: 300;}
h2 {font-size: 18px; font-weight: 300;}
h1 a, h1 a:hover, h1 a:focus {color: black; text-decoration: none}
h1 img.icon {top: -3px; position: relative; height: 46px;}

.header-nav {position: fixed; top: 0; width: 100%; height: 40px; background-color: #333; z-index: 1}
.header-nav .container-fluid {line-height: 40px}
.header-nav, .header-nav span {color: #666}
.header-nav a {color: #AAA; margin: 0 5px; text-decoration: none}
.header-nav a:hover, .header-nav a:focus, .header-nav a:active {color: #CCC;}

.input-group-addon {padding: 0}
.input-group-addon button {border-radius: 0 5px 5px 0; margin-right: -3px; margin-top: -1px; font-weight: 300}

.dim {opacity: 0.7}
