<h3>About URLGent</h3>

<p>A small utility to connect you directly to media on the Internet.</p>

<p>It helps you bypass all the bloat on various websites
  and focus on the content you actually want to see.

  It's like Clearly or Instapaper but for all sorts of resources.</p>

<p>The primary goals are lower resource usage, privacy and security of users.
  With URLGent you don't have to connect to the servers that track your activity.</p>

<p>It also removes bloat that the media sites generally put around the content.
  This translates to lower memory usage and longer battery life by scaling down
  on the resources necessary to render the content.</p>

<h3>Privacy</h3>

<p><strong>How much of your personal data is captured?</strong></p>
<p>
  Nothing. URLGent doesn't set a cookie in your browser or track you in any other way.
  There is no session attached to you and your personally identifiable information
  (IP, location, browser used, etc) is not captured at any point.
</p>
<p>
  In addition to that no media files are ever physically stored on the server.
  Everything is simply streamed from the original location of the data.
</p>

<p><strong>So what exactly is stored?</strong></p>
<ul>
  <li>a generalised event log (only summarised numbers - see <a href="/stats">Stats</a> page)</li>
  <li>past lookup requests for link persistence</li>
</ul>
