<!-- <img src="/public/logo.png" height=100 /> -->

<div class="navContent" id="lookup">
  <div class="inner padding-10">

    <form action="/resolve" method="POST">
      <div class="form-group">
        <div class="input-group">
          <input type="url" class="form-control input-lg" id="lookupInput" name="lookupInput" required placeholder="Insert your URL here">
          <div class="input-group-addon">
            <button type="submit" id="lookupGo" class="btn btn-default rs-button-bg">Fetch</button>
          </div>
        </div>
      </div>
    </form>

    <div class="text-center">
      <br /><br />
      <a href="https://chrome.google.com/webstore/detail/negdabnedmjkiognhhikoggfbbmpjjmj" target="_blank">
        Get URLGent Chrome Extension
      </a>
    </div>

  </div>
</div>
