<!-- <img src="/public/logo.png" height=100 /> -->

<div class="navContent" id="lookup">
  <div class="inner padding-10">
    <form action="/resolve" method="POST">
    <textarea type="text" id="lookupInput" name="lookupInput" style="height: 150px" class="form-control" placeholder="Insert your URLs here"></textarea>

    <br />

    <div class="text-center">
      <button type="submit" id="lookupGo" class="btn btn-default rs-button-bg">Go</button>
    </div>

    <br /><br /><br />

    <a href="https://chrome.google.com/webstore/detail/negdabnedmjkiognhhikoggfbbmpjjmj" target="_blank">
      Get URLGent Chrome Extension
    </a>

  </div>
</div>
